#[submodule "market/dispersy"]
#	path = market/dispersy
#	url = git@github.com:Jumba/dispersy.git
[submodule "market/market/dispersy"]
	path = market/market/dispersy
	url = https://github.com/Jumba/mockchain-market.git
